<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showlist Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-between align-items-center py-2 px-5">
        <h1 class="text-center">Streaming Show Watchlist</h1>
        <h2 class="text-center">Welcome {{user.first_name}}!</h2>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/tvshow" class="btn btn-primary">Add Show</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </div>
    <div class="col-8 mx-auto">
        <!-- <h1>Welcome {{user.first_name}}!</h1> -->
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tvshow in tvshows %}
                        <tr>
                            <td>{{tvshow.title}}</td>
                            <td>{{tvshow.network}}</td>
                            <td>{{tvshow.release_date}}</td>
                            <td>
                                <a href="/tvshow/{{tvshow.id}}">Show</a>
                                {% if tvshow.user_id == session.user_id %}
                                 | <a href="/edit/tvshow/{{tvshow.id}}">Edit</a> | 
                                <a href="/destroy/tvshow/{{tvshow.id}}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <a href='/'>Home</a>
    </div>
</body>
</html>